<template name="forgotPassword">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    <a href="{{pathFor 'login'}}" class="back-arrow">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    Forgot Password
                </h3>
            </div>

            <div class="panel-body">
                <div class="panel-message">
                Forgot your password? Simply enter your email address and we'll send you a new one.
                </div>

                <form role="form">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" autofocus>
                    </div>

                    <button type="submit" class="btn btn-danger btn-block">Reset password</button>
                </form>
            </div>
        </div>
        <div class="text-center"><a href="{{pathFor 'login'}}">Click here to sign in</a></div>
</template>