<template name="sidebar">
  <div id="sidebar-wrapper">
    <div class="top-buttons">
      <button class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Sync</button>
      <button class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add</button>
    </div>
    <ul class="sidebar-nav">
      <li><a href="#"><span class="glyphicon glyphicon-inbox"></span>&nbsp;Inbox</a>
      </li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Shared With You</a>
      </li>
    </ul>
    <div class="sidebar-foot">
      <button class="btn btn-primary btn-block"><img src="/images/rss-16.png" id="rss-logo">&nbsp;Manage Feeds</button>
      <button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;Manage Folders</button>
      <button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-cog"></span>&nbsp;Account &amp; Friends</button>
    </div>
  </div>
</template>
