<template name="sidebar">
    <div id="sidebar-wrapper">
        <div class="top-buttons">
            <button class="btn btn-primary" data-loading-text="Loading..." id="sync-feeds">
                <span class="glyphicon glyphicon-refresh"></span>&nbsp;Sync
            </button>
            <button class="btn btn-success" id="add-feed" data-toggle="modal" data-target="#add-feed-modal">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add
            </button>
        </div>


        <ul class="sidebar-nav">
            <li><a onclick="Meteor.call('changeFolder', this.id)" id="Inbox" class="bg-primary selected"><span class="glyphicon glyph-pad glyphicon-inbox"></span>Inbox</a></li>
            <li><a onclick="Meteor.call('changeFolder', this.id)" id="Shared"><span class="glyphicon glyph-pad glyphicon-user"></span>Shared With You</a></li>
        </ul>
        <div class="separator"></div>
        <div class="sidebar-overflow">
            <ul class="sidebar-nav">
                <li><a onclick="Meteor.call('changeFolder', this.id)" id="Science"><span class="glyphicon glyph-pad glyphicon-folder-close"></span>Science</a>
                <ul class="sidebar-brand">
                    <li><a>Test</a></li>
                    <li><a>Test</a></li>
                    <li><a>Test</a></li>
                    <li><a>Test</a></li>
                    <li><a>Test</a></li>
                </ul>
                </li>
                <li><a onclick="Meteor.call('changeFolder', this.id)" id="Travel"><span class="glyphicon glyph-pad glyphicon-folder-close"></span>Travel</a>
                <ul class="sidebar-brand"><li><a>Test</a></li></ul>
                </li>
                <li><a onclick="Meteor.call('changeFolder', this.id)" id="Photography"><span class="glyphicon glyph-pad glyphicon-folder-close"></span>Photography</a>
                    <ul class="sidebar-brand"></ul>
                </li>
                <li><a onclick="Meteor.call('changeFolder', this.id)" id="Nature"><span class="glyphicon glyph-pad glyphicon-folder-close"></span>Nature</a>
                    <ul class="sidebar-brand"></ul>
                </li>
                <li><a onclick="Meteor.call('changeFolder', this.id)" id="Technology"><span class="glyphicon glyph-pad glyphicon-folder-close"></span>Technology</a>
                    <ul class="sidebar-brand">
                        <li><a>Apple</a></li>
                        <li><a>Apple</a></li>
                        <li><a>Apple</a></li>
                        <li><a>Apple</a></li>
                        <li><a>Apple</a></li>
                    </ul></li>
                <li><a onclick="Meteor.call('changeFolder', this.id)" id="Fashion"><span class="glyphicon glyph-pad glyphicon-folder-close"></span>Fashion</a>
                    <ul class="sidebar-brand"></ul>
                </li>
                <li><a onclick="Meteor.call('changeFolder', this.id)" id="Finance"><span class="glyphicon glyph-pad glyphicon-folder-close"></span>Finance</a>
                    <ul class="sidebar-brand"></ul>
                </li>
                <li><a onclick="Meteor.call('changeFolder', this.id)" id="Business"><span class="glyphicon glyph-pad glyphicon-folder-close"></span>Business</a>
                    <ul class="sidebar-brand"></ul>
                </li>
            </ul>
        </div>
        <div class="separator"></div>
        <div class="sidebar-foot">
            <button class="btn btn-default btn-block"><img src="/images/rss-16-b.png" id="rss-logo" class="glyph-pad">Manage Feeds</button>
            <button class="btn btn-default btn-block"><span class="glyphicon glyph-pad glyphicon-folder-close"></span>Manage Folders</button>
            <button class="btn btn-default btn-block"><span class="glyphicon glyph-pad glyphicon-cog"></span>Account &amp; Friends</button>
        </div>
    </div>
</template>
