<template name="article">
  <div class="title">
    <span>
      <h3><a href="{{link}}" target="_blank" class="article-title">{{title}}</a></h3>
    </span>
  </div>
  <div class="content" id="{{guid}}">
      <div class="article-info">
          <span class="article-author">{{author}} - <a href="http://{{domain}}" target="_blank">{{domain}}</a></span>
          <span class="article-date">- {{localDate}}</span>
      </div>

    {{#if image.url}}
    <img src="{{image.url}}"/>
    {{/if}}
    <p>{{{content}}}</p>
  </div>
</template>
