#title-logo{
    font-size: 72px;
    color: #888888;
}

.center-page{
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 350px;
    position: relative;
    top: 150px;
}

.back-arrow{
    color: #ffffff;
    text-decoration: none;
    float: left;
}
.back-arrow:hover{
    color: #777777;
}

.panel-message{
    padding-bottom: 10px;
}