#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #dddddd;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;

  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
}

#page-content-wrapper {
  width: 100%;
}

.inset {
  padding: 20px;
}

.content{
    margin-bottom: 30px;
    border: 1px solid #999999;
    border-left: 5px solid #428bca;
    border-radius: 3px;
    padding: 5px;
}

.article-info{
    margin-bottom: 8px;
    font-size: 14px;
}

.article-date{
    color: #777777;
}

.article-author{
    font-style: italic;
}

.read{
    opacity: 0.4;
}

/*Logout*/
#logout {
  float: right;
  width: 500px;
}

#logout .inner{
  float: right;
  background: #dddddd;
  padding: 5px;
  background-color:rgba(221,221,221,0.5);
  border: solid 1px #dddddd;
  border-bottom-left-radius: 5px;
}

#logout .inner span{
  display: inline-block;
  float: left;
  padding-top: 8px;
  padding-right: 10px;
}

#logout .inner form{
  display: inline-block;
  float: right;
}

#feeds {
  padding-top: 6px;
}

/* Manage Feeds Modal */
.feed-list{
    list-style: none;
    margin-left: -40px;
}

.feed-list *{
    padding: 3px 5px;
    font-size: 14px;
}

.feed-info{
    border-left: 1px solid #e5e5e5;
    height: 400px;
    top: -10px;
    overflow: scroll;
}