/* Top buttons */
.top-buttons {
    margin: 10px auto;
    display: table;
}

.top-buttons button {
    margin-right: 5px;
    margin-left: 5px;
    height: 35px;
    width: 110px;
}

/* Footer */
.sidebar-foot {
    position: absolute;
    bottom: 10px;
    display: table;
    margin: 10px 10px 0 10px;
    height: 115px;
    padding-top: 10px;
}

.sidebar-foot button {
    display: inline-block;
}

.sidebar-foot hr{
    border-color: #888888;
}

#rss-logo {
    padding-bottom: 2px;
}

.sidebar-foot .btn-default:hover,
.sidebar-foot .btn-default:focus,
.sidebar-foot .btn-default:active,
.sidebar-foot .btn-default.active,
.sidebar-foot .open > .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #eeeeee;
}

/* Nav (Middle) */
.sidebar-overflow{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 255px);
}

.separator{
    border-bottom: 1px solid #888888;
}

.sidebar-nav {
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav a{
    display: block;
    padding: 4px 20px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-nav a:not(.bg-primary){
    color: #333333;
}

.sidebar-nav a:not(.bg-primary):hover{
    background-color: #eeeeee;
    color: #333333;
}

.sidebar-nav a:not(.bg-primary):active{
    background-color: #aaaaaa;
    color: #333333;
}

.sidebar-nav .bg-primary:hover,.sidebar-nav .bg-primary:active {
    color: #fff;
    background-color: #428bca;
}

.glyph-pad{
    padding-right: 8px;
}

/* Nav > Brand */
.sidebar-brand {
    width: 250px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: none;
}

.sidebar-brand a{
    padding-left: 55px;
    font-size: 13px;
}
