<template name="manageFeeds">
    <div class="modal fade" id="manage-feeds-modal" tabindex="-1" role="dialog" aria-labelledby="manage-feeds-label" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="manage-feeds-label">Manage Feeds</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="feed-list">
                                <li class="bg-primary">The Verge</li>
                                <li>Style Bubble</li>
                                <li>Fashion Squad</li>
                                <li>Fashionista</li>
                                <li>Eat. Sleep. Wear.</li>
                                <li>Because Im Addicted</li>
                                <li>From Me To You</li>
                                <li>Fashion Copious</li>
                                <li>Damsel In Dior</li>
                                <li>All The Pretty Birds</li>
                                <li>The Art Of Manliness</li>
                                <li>The Blonde Salad</li>
                                <li>Cupcakes And Cashmere</li>
                                <li>CoolHunting</li>
                                <li>Uncrate</li>
                            </ul>
                        </div>
                        <div class="col-md-8 feed-info">
                            <h2 class="text-center"><a href="http://www.theverge.com/" target="_blank">www.theverge.com/</a></h2>
                            <h4>Description</h4>
                            <p>The Verge was founded in 2011 in partnership with Vox Media, and covers the intersection
                                of technology, science, art, and culture. Its mission is to offer in-depth reporting and
                                long-form feature stories, breaking news coverage, product information, and community
                                content in a unified and cohesive manner. The site is powered by Vox Media's Chorus
                                platform, a modern media stack built for web-native news in the 21st century.
                            </p>
                            <h4>Statistics</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><em>Last Published Item</em></td>
                                        <td>July 18 2014</td>
                                    </tr>
                                    <tr>
                                        <td><em>Number of Items Read</em></td>
                                        <td>76</td>
                                    </tr>
                                    <tr>
                                        <td><em>Feed Added</em></td>
                                        <td>March 24 2013</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>Folders</h4>
                            <div class="checkbox"><label>
                                <input type="checkbox" value="Business">
                                Business
                            </label></div>
                            <div class="checkbox"><label>
                                <input type="checkbox" value="Fashion">
                                Fashion
                            </label></div>
                            <div class="checkbox"><label>
                                <input type="checkbox" value="Finance">
                                Finance
                            </label></div>
                            <div class="checkbox"><label>
                                <input type="checkbox" value="Nature">
                                Nature
                            </label></div>
                            <div class="checkbox"><label>
                                <input type="checkbox" value="Photography">
                                Photography
                            </label></div>
                            <div class="checkbox"><label>
                                <input type="checkbox" value="Science" checked>
                                Science
                            </label></div>
                            <div class="checkbox"><label>
                                <input type="checkbox" value="Technology" checked>
                                Technology
                            </label></div>
                            <div class="checkbox"><label>
                                <input type="checkbox" value="Travel">
                                Travel
                            </label></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Apply Changes</button>
                </div>
            </div>
        </div>
    </div>
</template>
